<a href="https://colab.research.google.com/github/shubhamsorap/shubham_webdev/blob/master/Home_credit_risk_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
  from google.colab import drive
  drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/kaggle"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [3]:
#changing the working directory
%cd /content/gdrive/My Drive/kaggle
#Check the present working directory using pwd command

/content/gdrive/My Drive/kaggle

In [4]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
Downloading bureau.csv.zip to /content/gdrive/My Drive/kaggle
 65% 24.0M/36.8M [00:00<00:00, 107MB/s]
100% 36.8M/36.8M [00:00<00:00, 123MB/s]
Downloading credit_card_balance.csv.zip to /content/gdrive/My Drive/kaggle
 91% 88.0M/96.7M [00:00<00:00, 97.4MB/s]
100% 96.7M/96.7M [00:00<00:00, 116MB/s]
Downloading bureau_balance.csv.zip to /content/gdrive/My Drive/kaggle
 86% 49.0M/56.8M [00:00<00:00, 104MB/s]
100% 56.8M/56.8M [00:00<00:00, 116MB/s]
Downloading installments_payments.csv.zip to /content/gdrive/My Drive/kaggle
 96% 259M/271M [00:02<00:00, 126MB/s]
100% 271M/271M [00:02<00:00, 106MB/s]
Downloading application_test.csv.zip to /content/gdrive/My Drive/kaggle
  0% 0.00/5.81M [00:00<?, ?B/s]
100% 5.81M/5.81M [00:00<00:00, 53.2MB/s]
Downloading POS_CASH_balance.csv.zip to /content/gdrive/My Drive/kaggle
 98% 106M/109M [00:02<00:00, 51.7MB/s]
100% 109M/109M [00:02<00:00, 45.2MB/s]
Downloading application_train.csv.zip to /content/gdrive/My Drive/kaggle
 83% 30.0M/36.1M [00:00<00:00, 89.2MB/s]
100% 36.1M/36.1M [00:00<00:00, 91.1MB/s]
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
Downloading previous_application.csv.zip to /content/gdrive/My Drive/kaggle
 98% 75.0M/76.3M [00:00<00:00, 107MB/s]
100% 76.3M/76.3M [00:00<00:00, 112MB/s]

In [5]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  bureau.csv.zip
replace bureau.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  credit_card_balance.csv.zip
replace credit_card_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  bureau_balance.csv.zip
replace bureau_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  installments_payments.csv.zip
replace installments_payments.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  application_test.csv.zip
replace application_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  POS_CASH_balance.csv.zip
replace POS_CASH_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  application_train.csv.zip
replace application_train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  previous_application.csv.zip
replace previous_application.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

8 archives were successfully processed.

In [6]:
import pandas as pd

In [7]:
Data1 = pd.read_csv("bureau_balance.csv")
Data2 = pd.read_csv("installments_payments.csv")
Data3 = pd.read_csv("bureau.csv")
Data4 = pd.read_csv("credit_card_balance.csv")
Data5 = pd.read_csv("application_test.csv")
Data6 = pd.read_csv("POS_CASH_balance.csv")
Data7 = pd.read_csv("application_train.csv")
Data8 = pd.read_csv("previous_application.csv")

In [8]:
Data1.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [9]:
Data2.head()

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585

[5 rows x 8 columns]

In [10]:
Data8.head()

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN

[5 rows x 37 columns]

In [11]:
#Merge1 = pd.merge(train2,train4,on='SK_ID_PREV',how='left')

In [12]:
Data8.isnull().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     372235
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                895844
AMT_GOODS_PRICE                 385515
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 820405
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     372230
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                346
DAYS_FIRST_DRAWING              673065
DAYS_FIRST_DUE                  673065
DAYS_LAST_DUE_1ST_VERSION       673065
DAYS_LAST_DUE                   673065
DAYS_TERMINATION                673065
NFLAG_INSURED_ON_APPROVAL       673065
dtype: int64

In [13]:
Data8.dtypes

SK_ID_PREV                       int64
SK_ID_CURR                       int64
NAME_CONTRACT_TYPE              object
AMT_ANNUITY                    float64
AMT_APPLICATION                float64
AMT_CREDIT                     float64
AMT_DOWN_PAYMENT               float64
AMT_GOODS_PRICE                float64
WEEKDAY_APPR_PROCESS_START      object
HOUR_APPR_PROCESS_START          int64
FLAG_LAST_APPL_PER_CONTRACT     object
NFLAG_LAST_APPL_IN_DAY           int64
RATE_DOWN_PAYMENT              float64
RATE_INTEREST_PRIMARY          float64
RATE_INTEREST_PRIVILEGED       float64
NAME_CASH_LOAN_PURPOSE          object
NAME_CONTRACT_STATUS            object
DAYS_DECISION                    int64
NAME_PAYMENT_TYPE               object
CODE_REJECT_REASON              object
NAME_TYPE_SUITE                 object
NAME_CLIENT_TYPE                object
NAME_GOODS_CATEGORY             object
NAME_PORTFOLIO                  object
NAME_PRODUCT_TYPE               object
CHANNEL_TYPE                    object
SELLERPLACE_AREA                 int64
NAME_SELLER_INDUSTRY            object
CNT_PAYMENT                    float64
NAME_YIELD_GROUP                object
PRODUCT_COMBINATION             object
DAYS_FIRST_DRAWING             float64
DAYS_FIRST_DUE                 float64
DAYS_LAST_DUE_1ST_VERSION      float64
DAYS_LAST_DUE                  float64
DAYS_TERMINATION               float64
NFLAG_INSURED_ON_APPROVAL      float64
dtype: object

Cleanning the Data

In [14]:
Data8['AMT_ANNUITY'].fillna((Data8['AMT_ANNUITY'].mean()),inplace=True)

In [15]:
Data8['AMT_DOWN_PAYMENT'].fillna((Data8['AMT_DOWN_PAYMENT'].mean()),inplace=True)

In [16]:
Data8['AMT_GOODS_PRICE'].fillna((Data8['AMT_GOODS_PRICE'].mean()),inplace=True)

In [17]:
Data8['RATE_DOWN_PAYMENT'].fillna((Data8['RATE_DOWN_PAYMENT'].mean()),inplace=True)

In [18]:
Data8['RATE_INTEREST_PRIMARY'].fillna((Data8['RATE_INTEREST_PRIMARY'].mean()),inplace=True)

In [19]:
Data8['RATE_INTEREST_PRIVILEGED'].fillna((Data8['RATE_INTEREST_PRIVILEGED'].mean()),inplace=True)

In [20]:
Data8['CNT_PAYMENT'].fillna((Data8['CNT_PAYMENT'].mean()),inplace=True)

In [21]:
Data8['DAYS_FIRST_DRAWING'].fillna((Data8['DAYS_FIRST_DRAWING'].mean()),inplace=True)

In [22]:
Data8['DAYS_FIRST_DUE'].fillna((Data8['DAYS_FIRST_DUE'].mean()),inplace=True)

In [23]:
Data8['DAYS_LAST_DUE_1ST_VERSION'].fillna((Data8['DAYS_LAST_DUE_1ST_VERSION'].mean()),inplace=True)

In [24]:
Data8['DAYS_LAST_DUE'].fillna((Data8['DAYS_LAST_DUE'].mean()),inplace=True)

In [25]:
Data8['DAYS_TERMINATION'].fillna((Data8['DAYS_TERMINATION'].mean()),inplace=True)

In [26]:
#train8['NFLAG_INSURED_ON_APPROVAL'].fillna((train8['NFLAG_INSURED_ON_APPROVAL'].mean()),inplace=True)

In [27]:
Data8['AMT_CREDIT'].fillna((Data8['AMT_CREDIT'].mean()),inplace=True)

In [28]:
Data8.isnull().sum()

SK_ID_PREV                          0
SK_ID_CURR                          0
NAME_CONTRACT_TYPE                  0
AMT_ANNUITY                         0
AMT_APPLICATION                     0
AMT_CREDIT                          0
AMT_DOWN_PAYMENT                    0
AMT_GOODS_PRICE                     0
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
FLAG_LAST_APPL_PER_CONTRACT         0
NFLAG_LAST_APPL_IN_DAY              0
RATE_DOWN_PAYMENT                   0
RATE_INTEREST_PRIMARY               0
RATE_INTEREST_PRIVILEGED            0
NAME_CASH_LOAN_PURPOSE              0
NAME_CONTRACT_STATUS                0
DAYS_DECISION                       0
NAME_PAYMENT_TYPE                   0
CODE_REJECT_REASON                  0
NAME_TYPE_SUITE                820405
NAME_CLIENT_TYPE                    0
NAME_GOODS_CATEGORY                 0
NAME_PORTFOLIO                      0
NAME_PRODUCT_TYPE                   0
CHANNEL_TYPE                        0
SELLERPLACE_AREA                    0
NAME_SELLER_INDUSTRY                0
CNT_PAYMENT                         0
NAME_YIELD_GROUP                    0
PRODUCT_COMBINATION               346
DAYS_FIRST_DRAWING                  0
DAYS_FIRST_DUE                      0
DAYS_LAST_DUE_1ST_VERSION           0
DAYS_LAST_DUE                       0
DAYS_TERMINATION                    0
NFLAG_INSURED_ON_APPROVAL      673065
dtype: int64

In [29]:
Data8['NAME_TYPE_SUITE'].fillna("Unknown",inplace=True)

In [30]:
Data8['PRODUCT_COMBINATION'].fillna("Unknown",inplace=True)

In [31]:
Data8.shape

(1670214, 37)

In [32]:
Appln = pd.get_dummies(Data8)
Appln.shape

(1670214, 166)

In [33]:
Appln.head()

   SK_ID_PREV  ...  PRODUCT_COMBINATION_Unknown
0     2030495  ...                            0
1     2802425  ...                            0
2     2523466  ...                            0
3     2819243  ...                            0
4     1784265  ...                            0

[5 rows x 166 columns]

In [34]:
X = Appln[Appln['NFLAG_INSURED_ON_APPROVAL'].isnull()!=True].drop(['SK_ID_PREV','SK_ID_CURR','NFLAG_INSURED_ON_APPROVAL'], axis=1)
y = Appln[Appln['NFLAG_INSURED_ON_APPROVAL'].isnull()!=True]['NFLAG_INSURED_ON_APPROVAL']

X_test = Appln[Appln['NFLAG_INSURED_ON_APPROVAL'].isnull()==True].drop(['SK_ID_PREV','SK_ID_CURR','NFLAG_INSURED_ON_APPROVAL'], axis=1)

X.shape, y.shape, X_test.shape

((997149, 163), (997149,), (673065, 163))

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

RandomForest

In [36]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier(n_estimators=100)

clf.fit(x_train,y_train)

y_pred=clf.predict(x_val)

In [37]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_val, y_pred))

Accuracy: 0.9219224790653362

XGBoost

In [38]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [39]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

data_dmatrix = xgb.DMatrix(data=X,label=y)

In [40]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,max_depth = 5, alpha = 10, n_estimators = 10)

In [41]:
xg_reg.fit(x_train,y_train)

y_pred1 = xg_reg.predict(x_val)

[17:27:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [43]:
import numpy as np
rmse = np.sqrt(mean_squared_error(y_val, y_pred1))
print("RMSE: %f" % (rmse))

RMSE: 0.327874

In [45]:
import numpy as np
from sklearn.metrics import roc_auc_score
score_ = roc_auc_score(y_val,y_pred1)
score_

0.952938977414818